name: Android CI

on:
  push:
    paths: 
      - 'VideoPlayer/**'
      - '.github/workflows/VideoPlayer.yml'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      env:
        DEPLOYGATE_APP_OWNER_NAME: ${{ secrets.DEPLOYGATE_APP_OWNER_NAME }}
        DEPLOYGATE_API_TOKEN: ${{ secrets.DEPLOYGATE_API_TOKEN }}
      working-directory: ./VideoPlayer
      run: |
        git name-rev HEAD | cut -f 2 -d ' ' | sed -e 's!~.*!!' -e 's!remotes/origin/!!'
#	./gradlew uploadDeployGateDebug
